<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .active {
                color: red;
            }
        </style>
    </head>
    <body>
        <div id="divSignIn">
            <input type="text" id="txtUsername" placeholder="Enter your username">
            <button id="btnSignIn">Sign In</button>
        </div>
        <div id="divChat">
            <h3>Socket.io</h3>
            <div id="divMessages">
            </div>
            <input type="text" id="txtMessage" placeholder="Enter your message">
            <button id="btnSend">Send</button>
        </div>
    </body>
</html>
<script src="jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="main.js"></script>
<script src="/reload/reload.js"></script> 
